*{
	margin: 0;
	padding: 0;
	font-size: 15px;
}

body{
	background-image: url("https://static.vecteezy.com/system/resources/thumbnails/000/533/848/small/Brickwall004.jpg");
}

img{
	width: 100%;
	height: 100%;
}

#seccionintro{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: auto;
	height: 46.2em;
}

#botonintro{
	border-radius: 0.5em;
	padding: 1em;
	background: linear-gradient(#5188c2,#ab52bd);
	cursor: pointer;
	color: #ffff;
}

#juego{
	background: grey;
	border-style: solid;
	border-color: black;
	width: 65%;
	height: 70%;
	display: none;
	flex-direction: row;
	flex-wrap: wrap; 
}

.slots{
	border-color: black;
	border-style: solid;
	width: 31%;
	height: 50%;
	margin-left: 0.8em;
	margin-top: 0.6em;
}

#spin{
	display: flex;
	width: 100%;
	height: auto;
}

#spin img{
	height: 70%;
	width: auto;
	display: none;
}

#info{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 1.5em;
	padding-right: 1.5em;
	background: black;
	opacity: 50%;
}

.data{
	background: #474747;
	color: orange;
	display: flex;
	align-items: center;
	padding: 0.4em;
	border-radius: 1em;
}

#cuadradoapu{
	background:yellow;
	border-radius: 1em;
	display: flex;
	height: 7em;
	width: 20%;
	align-items: center;
	margin-right: 14em;
	margin-left: 2.5em;
}

#cuadradoapu button{
	width: 3em;
	height: 2em;
	margin: 0.5em;
}

#cajavalores{
	display: flex;
	flex-wrap: wrap;
	margin-left:2.8em ;
}

.valores{
	background-color: grey;
}


#finaljuego{
	justify-content: center;
	align-items: center;
	width: 95%;
	height: auto;
}

#perdiste{
	display: none;
	background: black;
	width: 25%;
	height: 25%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #ffff;
	border-radius: 0.5em;

}
.claseboton {
	margin-top: 1.5em;
	border-radius: 0.5em;
	padding: 1em;
	background: linear-gradient(#5188c2,#ab52bd);
	cursor: pointer;
	color: #ffff;
}

#ganaste{
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 40%;
	height: 40%;
}